@using WoodyIconShopModel.Models;
@model IEnumerable<WoodyIconShopModel.Models.ActivityPurchase>
@{ 
    WoodyIconShopModel.Models.ShopConfig shopConfig = ViewBag.shopConfig;
}

<div class="row">
    <div class="col-xs-12">
       @if (Model.Where(p => p.PurchasePrice > 0).Count() > 0)
       {
           bool aa = false;
           foreach (var gift in Model.Where(p => p.PurchasePrice == 0))
           {
               if (gift.Purchase.Dealer == ViewBag.compyid)
               {
                   aa = true;
               }
           }

           if (aa)
           {
               <!-- 滿額即贈 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">滿額即贈</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row gift" id="total_gift">
                                @foreach (var gift in Model.Where(p => p.PurchasePrice == 0))
                                {
                                    if (gift.Purchase.Dealer == ViewBag.compyid)
                                    {
                                        WoodyIconShopModel.Models.ProductImage image = gift.Purchase.ProductImage.Where(pi => pi.Main && pi.ImageSetting != null && pi.ImageSetting.IsEnable).FirstOrDefault();
                                        string imageurl = Url.Content("~/Content/images/transparent.png");
                                        if (image != null)
                                        {
                                            imageurl = Url.Content(shopConfig.ServerImgPath + image.ImageSetting.Name);
                                        }
                                        bool isSelected = (ViewBag.cartGift != null && ViewBag.cartGift == gift.Id.ToString());
                                        <div class="col-xs-6 col-sm-2">
                                            <div class="thumbnail @(isSelected ? "selected" : "")">
                                                <div>
                                                    <img src="@imageurl" alt="@gift.Purchase.Name" style="width:100%">
                                                    <div class="caption">
                                                        <input type="hidden" value="@gift.Id" />
                                                        <a href="@Url.Action("ProductDetail", "Product", new { Id = gift.PurchaseId })" target="_blank"><div class="thumbnail-title" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@gift.Purchase.Name</div></a>
                                                        <button type="button" class="btn @(isSelected ? "btn-default" : "btn-custom") btn-block thumbnail-btn" onclick="choose_gift(this)">選取</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           }
       }
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        @if (Model.Where(p => p.PurchasePrice > 0).Count() > 0)
        {
            bool aa = false;
            foreach (var gift in Model.Where(p => p.PurchasePrice == 0))
            {
                if (gift.Purchase.Dealer == ViewBag.compyid)
                {
                    aa = true;
                }
            }
            if (aa)
            {
                 <!-- 優惠加購 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">優惠加購</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row gift" id="total_purchase">
                                    @foreach (var gift in Model.Where(p => p.PurchasePrice > 0))
                                    {
                                        if (gift.Purchase.Dealer == ViewBag.compyid)
                                        {
                                            WoodyIconShopModel.Models.ProductImage image = gift.Purchase.ProductImage.Where(pi => pi.Main && pi.ImageSetting != null && pi.ImageSetting.IsEnable).FirstOrDefault();
                                            string imageurl = Url.Content("~/Content/images/transparent.png");
                                            if (image != null)
                                            {
                                                imageurl = Url.Content(shopConfig.ServerImgPath + image.ImageSetting.Name);
                                            }
                                            bool isSelected = (ViewBag.cartPurchase != null && ViewBag.cartPurchase == gift.Id.ToString());

                                            <div class="col-xs-6 col-sm-2">
                                                <div class="thumbnail @(isSelected ? "selected" : "")">
                                                    <div>
                                                        <img src="@imageurl" alt="@gift.Purchase.Name" style="width:100%">
                                                        <div class="caption">
                                                            <input type="hidden" value="@gift.Id" />
                                                            <a href="@Url.Action("ProductDetail", "Product", new { Id = gift.PurchaseId })" target="_blank">
                                                                <div class="thumbnail-title" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@gift.Purchase.Name</div>
                                                                <div class="thumbnail-price">$@gift.PurchasePrice</div>
                                                            </a>
                                                            <button type="button" class="btn @(isSelected ? "btn-default" : "btn-custom") btn-block thumbnail-btn" onclick="choose_purchase(this)">選取</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }
    </div>
</div>


<script>
    function choose_gift(btn) {
        var gift = $('#total_gift');

        gift.find('.thumbnail.selected div.caption button').removeClass('btn-default');
        gift.find('.thumbnail.selected div.caption button').addClass('btn-custom');
        gift.find('.thumbnail.selected').removeClass('selected');


        $(btn).removeClass('btn-custom');
        $(btn).addClass('btn-default');
        $(btn).closest('.thumbnail').addClass('selected');



        AddTotalGift();
    }

    function choose_purchase(btn) {
        var purchase = $('#total_purchase');

        var IsCancel = $(btn)[0] == purchase.find('.thumbnail.selected div.caption button')[0];



        purchase.find('.thumbnail.selected div.caption button').removeClass('btn-default');
        purchase.find('.thumbnail.selected div.caption button').addClass('btn-custom');
        purchase.find('.thumbnail.selected').removeClass('selected');

        
        $(btn).removeClass('btn-custom');
        $(btn).addClass('btn-default');
        $(btn).closest('.thumbnail').addClass('selected');


        AddTotalPurchase();

    }


    function AddTotalGift() {
        var gift = $('#total_gift').find('.thumbnail.selected div.caption input');

        if (gift.length == 0)
            return;

        $.ajax({
            type: 'POST',
            url: '@Url.Action("_AddToCart", "Cart")',
            data: { id: gift.val(), quantity: 1, Type: @((int)CartType.TotalGift) },
            async: false
        }).done(function (msg) {
                GetCart();
                GetCartImg();
                location.href = '@Url.Action("Cart", "Pay")';

        });
    }
    function AddTotalPurchase() {
        var gift = $('#total_purchase').find('.thumbnail.selected div.caption input');

        if (gift.length == 0)
            return;

        $.ajax({
            type: 'POST',
            url: '@Url.Action("_AddToCart", "Cart")',
            data: { id: gift.val(), quantity: 1, Type: @((int)CartType.TotalPurchase) },
            async: false
        }).done(function (msg) {
                GetCart();
                GetCartImg();
                location.href = '@Url.Action("Cart", "Pay")';

        });
    }
</script>