@using WoodyIconShopModel.Models;
@model WoodyIconShopModel.Models.ViewModel.ProductPayViewModel
@{
    ViewBag.Title = "購物車";
    ViewBag.breadcrumb1 = "購物車";
}
<!-- 購物車第一步內容開始 -->
<section>
    <div class="container">
        <div class="stepwizard">
            <div class="stepwizard-row">
                <div class="stepwizard-step active">
                    <a class="btn btn-default btn-circle">1</a>
                    <p>購物清單</p>
                </div>
                <div class="stepwizard-step">
                    <a class="btn btn-default btn-circle">2</a>
                    <p>配送資訊</p>
                </div>
                <div class="stepwizard-step">
                    <a class="btn btn-default btn-circle">3</a>
                    <p>付款資訊</p>
                </div>
                <div class="stepwizard-step">
                    <a class="btn btn-default btn-circle">4</a>
                    <p>完成訂單</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="page-heading"><span class="page-heading-title">訂購資訊</span></div>
                @*@Html.Action("_CartProduct", "Pay")*@                
            </div>
        </div>

        @foreach (var compy in ViewBag.Company)
        {
            @Html.Action("_CartProduct", "Pay", new { compyId = compy.Id })
            @Html.Action("_CartPurchase", "Pay", new { compyId = compy.Id })
            <hr />
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-primary back-btn" href="@Url.Action("Index", "Home")"><i class="fa fa-angle-double-left" aria-hidden="true"></i> 繼續購物</a>
                    <a class="btn btn-primary next-btn pull-right" href="@Url.Action("Pay", "Pay", new { compyId = compy.Id })" onclick="return CheckProduct();">下一步 <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <hr />
        }
    </div>
</section>
<!-- /購物車第一步內容結束 -->
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            var previous;
            $(".cartquantity").on('focus', function () {
                previous = this.value;
            }).change(function () {
                if ($.isNumeric($(this).val())) {
                    var con = $(this).attr('id').replace('number_add_cart_', '');
                    if (!changeBuyNumber(con, Number($(this).val())))
                        this.value = previous;
                }
                else {
                    this.value = previous;
                }

                previous = this.value;
            });


        });
        //增加購物車數量
        function increaseBuyNumber(itemcount) {
            var number_add_cart = document.getElementById('number_add_cart_' + itemcount);
            if (changeBuyNumber(itemcount, Number(number_add_cart.value) + 1))
                number_add_cart.value = (Number(number_add_cart.value) + 1).toString();
        }
        //減少購物車數量
        function decreaseBuyNumber(itemcount) {
            var number_add_cart = document.getElementById('number_add_cart_' + itemcount);
            if (changeBuyNumber(itemcount, Number(number_add_cart.value) - 1))
                number_add_cart.value = (Number(number_add_cart.value) - 1).toString();
        }

        //變更數量
        function changeBuyNumber(itemcount, number) {
            var warehouse_amount = $('#warehouse_' + itemcount);
            var pid = $('#no_' + itemcount);
            var type = $('#type_' + itemcount);
            var typeid = $('#typeid_' + itemcount);
            var parentid = $('#parentid_' + itemcount);
            var cost = Number($('#Cost_' + itemcount).text().replace(/,/g, '').replace('$', ''));
            var price = Number($('#price_' + itemcount).text().replace(/,/g, '').replace('$', ''));
            var amount;
            if ($.isNumeric(number)) {
                amount = number;
                //數量不能大於庫存數量
                if (amount > parseInt(warehouse_amount.val())) {
                    alert("數量不能大於庫存數量");
                    return false;
                }
                //如果數量小於1，就跳出警示
                else if (amount < 1) {
                    alert("數量不能小於1");
                    return false;
                }
                else {
                    ChangeAmountToCart(pid.val(), amount, type.val(), typeid.val(), parentid.val());
                    //更新數字
                    cost = amount * price;
                    $('#Cost_' + itemcount).text('$' + formatNumber(cost));

                    //更新總價
                    var sum = 0;
                    $('.vTotal').each(function () { sum += Number($(this).text().replace('$', '').replace(/,/g, '')); });
                    $('#subtotalmoney').text(formatNumber(sum));
                    $('#totalmoney').text(formatNumber(sum));
                    return true;
                }
            }
        }

        //number 千分位
        function formatNumber(n) {
            n += "";
            var arr = n.split(".");
            var re = /(\d{1,3})(?=(\d{3})+$)/g;
            return arr[0].replace(re, "$1,") + (arr.length == 2 ? "." + arr[1] : "");
        }
    </script>
    <script>
        //修改購物車裡面的商品數量
        function ChangeAmountToCart(productId, quantity, type, typeid, parentid) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("_ResetProductAmount", "Cart")',
                data: { id: productId, quantity: quantity, Type: type, TypeId: typeid, ParentProductId: parentid }
            })
            .done(function (msg) {
                //將回傳的購物車頁面 填入 li#Cart
                GetCart();
                GetCartImg();
                location.href = '@Url.Action("Cart", "Pay")';
            });
        }

        //移除購物車內商品
        function RemoveFromCart(productId, type, typeid, parentid) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("_RemoveFromCart", "Cart")',
                data: { id: productId, Type: type, TypeId: typeid, ParentProductId: parentid  }
            })
            .done(function (msg) {
                //將回傳的購物車頁面 填入 li#Cart
                GetCart();
                location.href = '@Url.Action("Cart", "Pay")';
            });
        }


        function CheckProduct() {
            var gift = $('#total_gift');

            if (gift.find('.thumbnail div.caption button').length > 0 &&
                gift.find('.thumbnail.selected div.caption button').length == 0) {

                swal({
                    title: "請選擇滿額贈品",
                    timer: 1200,
                    type: "info",
                    showConfirmButton: false
                });

                return false;
            }

            fbq('track', 'InitiateCheckout');   // 2018/09/01, lozenlin, add

            return true;
        }

    </script>

    @if (ViewBag.IsCartEmpty != null && ViewBag.IsCartEmpty)
    {
        <script>
            $(document).ready(function () {
                swal({
                    title: "購物車裡無商品",
                    timer: 2000,
                    type: "error",
                    showConfirmButton: false
                },
                function () {
                    location.href = '@Url.Action("Index", "Home")';
                });
            });
        </script>
    }
}