@using WoodyIconShopModel.Models
@model Order
@{
    ViewBag.Title = "訂單完成";
    ViewBag.breadcrumb1 = "購物車";

    ShopConfig shopConfig = ViewBag.shopConfig;

}
@section scriptInHead{
    <script>
        //window.onload = GTM;
        GTM();

    function GTM() {
        var para = {
            id: '@Model.Id'
        };
        //var aa = "";
        $.ajax({
            url: '@Url.Content("~/Pay/GTMJson")',
            data: para,
            type: "POST",
            dataType: "json",
            async: false,
            error: function (xhr) {
            },
            success: function (response) {
                //var strobj = JSON.stringify(response);
                //alert(response);
                //var strobj = JSON.stringify(response);
                //alert(strobj);
                //aa = strobj;
                window.dataLayer = window.dataLayer || []
                dataLayer.push(response);
            }
        });
    }
</script>
}
<div class="container">
    <div class="stepwizard">
        <div class="stepwizard-row">
            <div class="stepwizard-step">
                <a class="btn btn-default btn-circle">1</a>
                <p>購物清單</p>
            </div>
            <div class="stepwizard-step">
                <a class="btn btn-default btn-circle">2</a>
                <p>配送資訊</p>
            </div>
            <div class="stepwizard-step">
                <a class="btn btn-default btn-circle">3</a>
                <p>付款資訊</p>
            </div>
            <div class="stepwizard-step active">
                <a class="btn btn-default btn-circle">4</a>
                <p>完成訂單</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="page-heading"><span class="page-heading-title">訂購資訊</span></div>
            <div class="form-box">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">訂單明細</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td class="col-xs-2 col-sm-1">商品圖片</td>
                            <td>商品名稱</td>
                            <td>單價</td>
                            <td>數量</td>
                            <td class="text-right">小計</td>
                        </tr>
                        @foreach (var od in Model.OrderDetail)
                        {
                            <tr>
                                <td><img class="img-responsive" src="@Url.Content(shopConfig.ServerImgPath)@od.Product.ProductImage.Where(d=>d.ProductId == od.Prodid).Select(s=>s.ImageSetting.Name).FirstOrDefault()"></td>
                                <td>@od.Product.Name</td>
                                @*<td>@od.ProdPrice</td>*@
                                <td>@od.UnitPrice</td>
                                
                                <td>@od.ProdAmount</td>
                                <td class="text-right">@od.ProdPrice</td>
                            </tr>                            
                        }
                      
                        <tr>
                            <td colspan="4" class="text-right">小計</td>
                            @*<td class="text-right">$@Model.Price</td>*@
                            <td class="text-right">$@ViewBag.SubTotal</td>
                        </tr>
                       
                        <tr>
                            <td colspan="4" class="text-right">折扣/折價券</td>
                            <td class="text-right">-$0</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">運費</td>
                            <td class="text-right">$@ViewBag.cost</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">總計</td>
                            <td class="text-right">$@Model.Price</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="form-box">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">配送資訊</h3>
                            </div>
                            <div class="panel-body">
                                <P>訂單編號：@Model.ONickid</P>
                                <P>配送方式：宅配到府</P>
                                <P>收件人姓名：@Model.RecipientName</P>
                                <P>收件人電話：@Model.RecipientPhoneDecrypted</P>
                                <P>電子郵件：@Model.RecipientEmail</P>
                                <P>收件人地址：@Model.RecipientCountCode @Model.Cdadress.County @Model.Cdadress.District @Model.RecipientAddressDecrypted</P>
                                <P>備註：@Model.RecipientNote</P>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">付款資訊</h3>
                            </div>
                            <div class="panel-body">
                                <P>@(((PayType)Model.Pay).DisplayName())</P>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </hr>
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary next-btn pull-right" href="@Url.Action("Index", "Home")">返回首頁</a>
        </div>
    </div>
</div>


        @*<div class="page-header h3">@ViewBag.Title</div>
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <th>付款方式</th>
                    <td>@Html.DisplayName(((PayType)Model.Pay).DisplayName())</td>
                    <th>付款日期</th>
                    <td>@Model.Odate</td>
                </tr>
                <tr>
                    <th>收件地址</th>
                    <td colspan="3">@Model.RecipientCity@Model.Cdadress.District@Model.RecipientAddressDecrypted</td>
                </tr>
                <tr>
                    <th>收件人</th>
                    <td>@Model.RecipientName</td>
                    <th>收件人電話</th>
                    <td>@Model.RecipientPhoneDecrypted</td>
                </tr>
                <tr>
                    <th>運費</th>
                    <td>@String.Format("{0:n0}", 0)</td>
                    <th>訂單總金額</th>
                    <td>@String.Format("{0:n0}", Model.Price)</td>
                </tr>

            </tbody>
        </table>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-left">商品名稱</th>
                    <th class="text-right">數量</th>
                    <th class="text-right">商品金額</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var od in Model.OrderDetail)
            {
                    <tr>
                        <td class="text-left">@od.Product.Name</td>
                        <td class="text-right">@od.ProdAmount</td>
                        <td class="text-right">@String.Format("{0:n0}", od.ProdPrice)</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group text-right">
            <a href="/Home/index" class="btn btn-primary">返回首頁</a>
        </div>
    </div>*@


@*<script>
    window.onload = GTM;
    function GTM() {
        var para = { id: '@Model.Id' };
        $.ajax({
            url: '@Url.Content("~/Pay/GTMJson")',
            data: para,
            type: "POST",
            dataType: "json",
            async: false,
            error: function (xhr) {
            },
            success: function (response) {
            var strobj = JSON.stringify(response);
                window.dataLayer = window.dataLayer || []
                dataLayer.push(
                       strobj
                );
            }
        });
    }
</script>*@

@*測試用*@
@*<script>
    window.onload = GTM;
    function GTM() {
        var para = { id: '@Model.Id' };
        $.ajax({
            url: '@Url.Content("~/Pay/GTMJson")',
            data: para,
            type: "POST",
            dataType: "json",
            async: false,
            error: function (xhr) {
            },
            success: function (response) {
            var strobj = JSON.stringify(response);
                window.dataLayer = window.dataLayer || []
                dataLayer.push(
                      { 'transactionId': 201708011233580373, 'transactionAffiliation': '正新鮮', 'transactionTotal': 330, 'transactionTax': 0, 'transactionShipping': 0, 'transactionProducts': [{ 'sku': '8679287b-8fc3-43b8-8b21-366023b02a8c', 'name': '【藏私】芥末鹽麴55g', 'category': null, 'price': 330, 'quantity': 1 }] }
                );
            }
        });
    }
</script>*@