@model  IEnumerable<WoodyIconShopModel.Models.Order>
@using PagedList.Mvc
@using PagedList
@using WoodyIconShopModel.Models;

@{
    ViewBag.Title = "訂單查詢";

    var pagedList = (PagedList.IPagedList)Model;
    //int i = 0;
    int d =01;
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">會員中心</div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="@Url.Action("Member", "Member")" class="list-group-item">會員資料修改</a>
                        <a href="@Url.Action("Policy", "Member")" class="list-group-item">購物須知</a>
                        <a href="@Url.Action("B2BMemberOrder", "Member")" class="list-group-item active">訂單查詢</a>
                        <a href="@Url.Action("Code", "Member")" class="list-group-item">優惠序號</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="page-header h3">訂單查詢</div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">日期時間</th>
                        <th class="text-center">訂單編號</th>
                        <th class="text-center">訂單金額</th>
                        <th class="text-center">訂單狀態</th>
                        <th class="text-center">訂單明細</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                    
                        <tr>
                            <td class="text-center">@order.Odate</td>
                            <td class="text-center">@order.ONickid</td>
                            <td class="text-right">@order.Price</td>
                            <td class="text-center">@(((OrderStatus)order.OrderStatusType).DisplayName())</td>
                            <td class="text-center">
                                <a data-toggle="modal" data-target="#id_@order.ONickid"><i class="fa fa-search"></i></a>

                                <!-- 彈出視窗 -->
                                <!--顯示詳細內容-->
                                <div class="modal fade" id="id_@order.ONickid" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">顯示訂單編號</h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-hover table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <th>付款方式</th>
                                                            <td>@(((WoodyIconShopModel.Models.PayType)order.Pay).DisplayName())</td>
                                                            <th>付款日期</th>
                                                            <td>@order.OrderPricePiadDate</td>
                                                        </tr>
                                                        <tr>
                                                            <th>收件地址</th>
                                                            <td colspan="3">@(order.RecipientCountCode+order.RecipientCity +order.Cdadress.District  + order.RecipientAddressDecrypted)</td>
                                                        </tr>
                                                        <tr>
                                                            <th>店家名稱</th>
                                                            <td> @order.RecipientName</td>
                                                            <th>店家電話</th>
                                                            <td> @order.RecipientPhoneDecrypted</td>
                                                        </tr>
                                                        <tr>
                                                            <th>運費</th>
                                                            @if (order.OrderDetail != null)
                                                            {
                                                                if (order.OrderDetail.Count > 0)
                                                                {
                                                                    <td>@order.OrderDetail.First().Fee</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>0</td>
                                                                }

                                                            }
                                                            else
                                                            {
                                                                <td>0</td>
                                                            }
                                                            <th>訂單總金額</th>
                                                            <td> @order.Price</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-left">商品名稱</th>
                                                            <th class="text-right">數量</th>
                                                            <th class="text-right">商品金額</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (order.OrderDetail.Count > 0)
                                                        {
                                                            foreach (var orderDetail in order.OrderDetail)
                                                            {
                                                                <tr>
                                                                    <td class="text-left">@orderDetail.Product.Name</td>
                                                                    <td class="text-right">@orderDetail.ProdAmount</td>
                                                                    <td class="text-right">@orderDetail.ProdPrice</td>
                                                                </tr>
                                                            }
                                                        }                                                      
                                                    </tbody>

                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                            @if (order.OrderStatusType != 3 && order.OrderStatusType != -1 && order.OrderStatusType != 1 && order.OrderStatusType != 4 )
                            {
                                <input id="@order.Id" type="button" onclick="OrderCancel(this)" value="取消訂單" class="btn btn-danger"/>                                
                            }

                            </td>
                        </tr>

                      


                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12">
                    @Html.PagedListPager(pagedList, page => Url.Action("B2BMemberOrder", new { page }),
            PagedList.Mvc.PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 pagination-sm">
                    第 @pagedList.FirstItemOnPage 到第 @pagedList.LastItemOnPage 項, 共 @pagedList.TotalItemCount 項
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script type="text/javascript">

    //取消訂單
    function OrderCancel(OrderId)
    {
        var token = $('[name=__RequestVerificationToken]').val();
        var check = confirm("確定刪除此筆訂單?");
        if (check) {
            $.ajax({
                url: '@Url.Action("B2BMember_CancelOrder", "Member")',
                type: "POST",
                data: { id: OrderId.id, __RequestVerificationToken: token },
                timeout: 3000,
                //headers:  { '__RequestVerificationToken': token },
                //dataType: "json",
                //contentType: 'application/json; charset=utf-8',
                async: false,
                success: function (jdata) {
                    var data = JSON.parse(jdata);
                    if (data.OrderStatus == 3) {
                        alert(data.message);
                    } else {
                        alert(data.message);
                        $('#' + OrderId.id).hide();
                    }
                },
                error: function (xmlhttprequest, textstatus, message) {
                    if (textstatus === "timeout") {
                        location.href = '@Url.Content("~/Member/B2BMemberOrder")';//重新導向
                    } else {
                        location.href = '@Url.Content("~/Member/B2BMemberOrder")';//重新導向
                    }

                }
            });
            location.href = '@Url.Content("~/Member/B2BMemberOrder")';//重新導向
        }
        else { return false; }

    }




    </script>
}