@model WoodyIconShopModel.Models.ViewModel.MemberViewModel

@{
    ViewBag.Title = "會員資料";

    string dateBirth = ViewBag.dateBirth == null ? string.Empty : ViewBag.dateBirth.ToString("yyyy/MM/dd");
}
@Styles.Render("~/Content/B2B/bootstrap-datetimepicker.min.css")
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/moment-with-langs.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")

    <script>
            $('#dateBirth').val("@dateBirth");
            $(function () {
                var dp = $('.date');
                dp.datetimepicker({
                    pickTime: false,
                    language: 'zh-TW',
                });
            });
        </script>

    @Html.Partial("_TaiwanZipCode")
    <script type="text/javascript">
        $(function () {
            SetCascadeDropDownList();
           



        });

       

        function SetCascadeDropDownList() {
            TaiwanZipCode.Settings({
                CityID: '#area',
                CountyID: '#areacode',
                SelectedCity: '@Model.area',
                SelectedCounty: '@Model.areacode'

            });
        }
    </script>




}



@using (Html.BeginForm("B2BMember", "Member", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">會員中心</div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="@Url.Action("Member", "Member")" class="list-group-item active">會員資料修改</a>
                            <a href="@Url.Action("Policy", "Member")" class="list-group-item">購物須知</a>
                            <a href="@Url.Action("B2BMemberOrder", "Member")" class="list-group-item">訂單查詢</a>
                            <a href="@Url.Action("Code", "Member")" class="list-group-item">優惠序號</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="page-header h3">會員資料修改</div>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            <span style="color:red">修改E-mail跟帳號無關</span>
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                   
                    <div class="form-group">
                        @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.cellphone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.cellphone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.cellphone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--年月日須連動-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.birthday, htmlAttributes: new { @class = "col-xs-12 col-sm-2 control-label" })
                        <div class="col-sm-10">
                            <div class='input-group date' id='dpFrom' data-date-format="YYYY/MM/DD" >
                                @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control", id = "dateBirth", placeholder = "生日", style = "margin:0px" } })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>

                        <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="dateBirth"></span>
                    </div>


                    @*<div class="form-group">
                        <label class="col-xs-12 col-sm-2 control-label">生日</label>
                        <div class="col-sm-10">
                            <div class="row">

                                @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control" } })

                                <div class="col-sm-4">

                                        @Html.EditorFor(model => model.birthday,"DateDropDownList")

                                        <select class="form-control">
                                            <option>年</option>
                                            <option>1988</option>
                                            <option>1987</option>
                                        </select>
                                    </div>
                                <div class="col-sm-2">
                                        <select class="form-control">
                                            <option>月</option>
                                            <option>08</option>
                                            <option>09</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control">
                                            <option>日</option>
                                            <option>10</option>
                                            <option>11</option>
                                        </select>
                                    </div>
                            </div>
                        </div>
                    </div>*@



                    <!--縣市鄉鎮區須連動-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">住址</label>
                        @*@Html.LabelFor(model => model.areacode, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <div class="row">

                                <div class="col-sm-3">
                                    <select class="form-control" id="area" name="area"></select>
                                    @*@Html.EditorFor(model => model.areacode, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.areacode, "", new { @class = "text-danger" })*@
                                </div>

                                @*@Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-sm-3">
                                    <select class="form-control" id="areacode" name="areacode"></select>

                                </div>

                                @*@Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    @*<div class="form-group">
                            <label class="col-sm-2 control-label">住址</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <select class="form-control">
                                            <option>縣市</option>
                                            <option>台北市</option>
                                            <option>新北市</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control">
                                            <option>鄉鎮區</option>
                                            <option>中正區</option>
                                            <option>中山區</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="tel" class="form-control" placeholder="請輸入地址">
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-block">確定修改</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}