@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "優惠序號";

    var captcha = Html.Captcha("換一張", "", 4, "請輸入驗證碼", true, new CaptchaMvc.Models.ParameterModel[0]);
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">會員中心</div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="@Url.Action("Member", "Member")" class="list-group-item">會員資料修改</a>
                        <a href="@Url.Action("Policy", "Member")" class="list-group-item">購物須知</a>
                        <a href="@Url.Action("MemberOrder", "Member")" class="list-group-item">訂單查詢</a>
                        <a href="@Url.Action("Code", "Member")" class="list-group-item active">優惠序號</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="page-header h3">優惠序號</div>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("請輸入優惠序號", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input name="Code" class="form-control" data-val="true" data-val-required="請輸入優惠序號" />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Code" data-valmsg-replace="true"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.Label("驗證碼", new { @class = "col-sm-2 control-label" })

                        @Html.Partial("_Captcha", captcha.BuildInfo)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-block">確定</button>
                    </div>
                </div>
            }


            <div>
                <div class="page-header h3">兌換紀錄</div>
                @Html.Action("_CodeLog")
            </div>
        </div>

    </div>
</div>


@if (ViewBag.message != null)
{
    <script>
        var message = '@ViewBag.message';

        @if(ViewBag.isReLogin != null)
        {
            @:message = message + ', 請重新登入!'
        }


        alert(message);
    </script>
}

@if(ViewBag.isReLogin != null)
{
    <script>
        window.location = '@Url.Action("Login", "Account")';
    </script>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
