@model IEnumerable<WoodyIconShopModel.Models.ProductPurchase>
@{
    WoodyIconShopModel.Models.ShopConfig shopConfig = ViewBag.shopConfig;
}
@if (Model.Count() > 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">優惠加購</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row gift" id="product_purchase">
                        @foreach (var purchase in Model)
                        {

                            WoodyIconShopModel.Models.ProductImage image = purchase.Purchase.ProductImage.Where(pi => pi.Main && pi.ImageSetting != null && pi.ImageSetting.IsEnable).FirstOrDefault();
                            string imageurl = Url.Content("~/Content/images/transparent.png");
                            if (image != null)
                            {
                                imageurl = Url.Content(shopConfig.ServerImgPath + image.ImageSetting.Name);
                            }

                            <div class="col-xs-6 col-sm-2">
                                <div class="thumbnail">
                                    <div>
                                        <img src="@imageurl" alt="@purchase.Purchase.Name" style="width:100%">
                                        <div class="caption">
                                            <input type="hidden" value="@purchase.Id" />
                                            <a href="@Url.Action("ProductDetail", "Product", new { Id = purchase.PurchaseId })" target="_blank" >
                                                <div class="thumbnail-title" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@purchase.Purchase.Name</div>
                                                <div class="thumbnail-price">$@purchase.AmountOfMoney</div>
                                            </a>
                                            <button type="button" class="btn btn-custom btn-block thumbnail-btn" onclick="choose_purchase(this)">選取</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function choose_purchase(btn) {
        var purchase = $('#product_purchase');

        var IsCancel = $(btn)[0] == purchase.find('.thumbnail.selected div.caption button')[0];
        
        

        purchase.find('.thumbnail.selected div.caption button').removeClass('btn-default');
        purchase.find('.thumbnail.selected div.caption button').addClass('btn-custom');
        purchase.find('.thumbnail.selected').removeClass('selected');

        if (!IsCancel) {

            $(btn).removeClass('btn-custom');
            $(btn).addClass('btn-default');
            $(btn).closest('.thumbnail').addClass('selected');
        }
    }
</script>