@using WoodyIconShopModel.Models
@model IEnumerable<WoodyIconShopModel.Models.Product>


@{
    WoodyIconShopModel.Models.ShopConfig shopConfig = ViewBag.shopConfig;
    
}

@helper brandname(int? brid , string prname)
    {
        if(brid != null)
        {
          var brandlist = (List<BrandList>)ViewData["brandlist"];
          string brname = brandlist.Where(s => s.Id == brid).FirstOrDefault().Name;
          prname = brname + prname;
        }

       @prname
    }

@foreach (var tag in (IEnumerable<WoodyIconShopModel.Models.ProductTag>)ViewData["productTag"])
{
    var products = Model.Where(p => p.ProductTagLists.Where(t => t.TagId == tag.Id).Count() > 0).Take(8);

    if (products.Count() == 0)
    {
        continue;
    }
    <div class="page-heading"><span class="page-heading-title">@tag.TagName</span><a class="pull-right page-heading-more" href="@Url.Action("Index", "Product", new { tag = tag.Id })">更多商品+</a></div>

    <div class="row">
        <div class="col-sm-3 hidden-xs ">
            <a href="@Url.Action("Index", "Product", new { tag = tag.Id })"><img class="prod-img img-responsive" src="@shopConfig.ServerImgPath@(tag.ImageSetting != null ? tag.ImageSetting.Name : "")" /></a>
        </div>
        <div class="col-xs-12 col-sm-9">
            @for (int i = 0; i < products.Count(); i = i + 4)
            {
                <div class="row prod-list">
                    @for (int j = i; j < products.Count() && j < i + 4; j++)
                    {
                        <div class="col-xs-6 col-sm-3">
                            @{
                                WoodyIconShopModel.Models.ProductImage image = products.ElementAt(j).ProductImage.Where(pi => pi.Main && pi.ImageSetting != null && pi.ImageSetting.IsEnable).FirstOrDefault();
                                string imageurl = Url.Content("~/Content/images/transparent.png");
                                if (image != null)
                                {
                                    imageurl = Url.Content(shopConfig.ServerImgPath + image.ImageSetting.Name);
                                }
                            }
                            <a href="@Url.Action("ProductDetail", "Product", new { id = products.ElementAt(j).Id })">
                                <img class="prod-img img-responsive" src="@imageurl">
                            </a>
                            <div class="prod-title">@brandname(products.ElementAt(j).Brand, products.ElementAt(j).Name)</div>
                            <div class="prod-price">$@ProductPresenter.GetPrice(products.ElementAt(j))</div>
                        </div>

                        if (j % 2 == 1)
                        {
                            <div class="row-fix hidden-sm hidden-md hidden-lg"></div>
                        }
                    }
                </div>
            }

        </div>
    </div>
}

