@{
    //************************************************
    // Copyright (c) 2016 January Technology Corporation
    // Created by: Alex
    // Created Date: 2017/04/28
    //************************************************

    ViewBag.Title = "關於正新鮮";
}


<div class="about">
    <section class="header">
        <div class="container">
            <h2>「履歷看得見，就找正新鮮」</h2>
            <p>食安問題爆發，你是否曾問哪裡有新鮮、誠實的食物？</P>
            <P>正新鮮前身乃政府委託、學者檢驗、生產方配合所架構的「食品履歷追溯系統平台」，即符合官方正規的「非追不可」平台。這個任何人都能檢閱的「生產追溯履歷」記錄了食材生產、進口、加工、流通、銷售等各階段流程，不僅意味著生產者對消費者的尊重，同時也是對產品絕對優質的自信。</P>
            <P>面對「誠食」的渴望，我們將公正的科學檢驗、公開的生產資訊，轉型成凝聚優良生產者的公共便利的平台，讓您不只看的到，還能吃得到。「履歷看得見，就找正新鮮」──讓看得見的生產履歷，成就每一口的真正新鮮。</p>
            <h2 class="i-title">正新鮮整合台灣在地好農及供應商，從產地到餐桌提供消費者三大保證</h2>
            <div class="i-title-img">
                <img class="img-responsive-sp" src="@Url.Content("~/Content/images/i-title.png")">
                
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>什麼是「產銷履歷」</h2>
            <p>產銷履歷追溯制度是指各類農漁畜產品與其加工品，在生產、加工、流通、銷售各階段所經的歷程，都有記錄與驗證可供消費者查詢，讓食品供應鏈透明化，提高生產者以及消費者的利益。</p>
            <img class="img-responsive-sp" src="@Url.Content("~/Content/images/tap.png")">
            <h2>建立食品追溯追蹤系統的目的</h2>
            <p>隨著民眾健康意識抬頭，食品安全議題越來越受到民眾重視。為了做好「源頭管理」, 強化食品業者內部品質把關， 2011 年政府啟動安心食品履歷追溯雲端平台，透過食品雲的建立以及追溯制度，提升産業誠信度和生産安全水準，為消費者創造安心無虞的飲食環境。</p>
            <img class="img-responsive-sp" src="@Url.Content("~/Content/images/dw.png")"> 
        </div>
    </section>

    <section class="sec-bg organic">
        <div class="container">
            <h2>什麼是「有機食品」</h2>
            <p>有機食品(organic food)指的是農作物在種植過程中沒有使用非天然的化學物質如農藥（即殺蟲劑、除草劑、生長調節劑等）、化學肥料等。</p>

            <p>而且在加工過程中也沒有使用化學添加物，完全以自然耕種法種植，讓農作物與環境有善循環，讓農業永續發展。</p>

            <h2>有機食品驗證制度</h2>
            <p>有機農產品強調生產過程僅使用有機資材，不使用化學農藥以及化學肥料，於通過有機驗證後方可標示此標章。目前國內有機認證由民間機構進行辦理。</p>

            <p>轉型期期間可使用驗證機構之轉型期標章標識，待通過驗證後即可標示CAS有機農產品標章，而標示之詳細規定可另參考<a target="_blank" href="http://info.organic.org.tw/supergood/front/bin/ptlist.phtml?Category=104859">有機農業全球資訊網<i class="fa fa-external-link-square icon-right" aria-hidden="true"></i></a>。</p>

            <!-- 2015年國內有機驗證單位標章 -->
            <p><a class="btn btn-primary" data-toggle="modal" href='#2015-table'>2015年國內有機驗證單位標章<i class="fa fa-external-link-square icon-right" aria-hidden="true"></i></a></p>

        </div>
    </section>
    <!-- 2015年國內有機驗證單位標章彈出視窗 -->
    <div class="modal fade" id="2015-table">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">2015年國內有機驗證單位標章</h4>
                </div>
                <div class="modal-body">
                    <div class="badge-table-box">
                        <table class="table badge-table">
                            <thead>
                                <tr>
                                    <th>單位</th>
                                    <th>標章</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="30%"><a href="http://tw-toc.com/big5/index.asp" target="_blank">慈心有機驗證(股)公司</a></td>
                                    <td>
                                        <img class="img-responsive-sp" src="@Url.Content("~/Content/images//badge/badge01.jpg")">                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.moa.org.tw/" target="_blank">財團法人國際美育自然生態基金會</a></td>
                                    <td>
                                        <img class="img-responsive-sp" src="@Url.Content("~/Content/images//badge/badge02.jpg")">
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.coaa.tw/Main/TW/" target="_blank">中華有機農業協會</a></td>
                                    <td>
                                        <img class="img-responsive-sp" src="@Url.Content("~/Content/images//badge/badge03.jpg")">
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.topa.org.tw/" target="_blank">台灣省有機農業生產協會</a></td>
                                    <td>
                                        <img class="img-responsive-sp" src="@Url.Content("~/Content/images//badge/badge04.jpg")">
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.naif.org.tw/" target="_blank">財團法人中央畜產會</a></td>
                                    <td>
                                        <img class="img-responsive-sp" src="@Url.Content("~/Content/images//badge/badge05.jpg")">
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.fsii.com.tw/" target="_blank">暐凱國際檢驗科技股份有限公司</a></td>
                                    <td>
                                        <img class="img-responsive-sp" src="@Url.Content("~/Content/images//badge/badge06.jpg")">
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.foa.org.tw/" target="_blank">台灣寶島有機農業發展協會</a></td>
                                    <td>
                                        <img class="img-responsive-sp" src="@Url.Content("~/Content/images//badge/badge07.jpg")">
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.nchu.edu.tw/~APACC/" target="_blank">國立中興大學</a></td>
                                    <td>
                                        <img class="img-responsive-sp" src="@Url.Content("~/Content/images//badge/badge08.jpg")">
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.hoa.org.tw/" target="_blank">財團法人和諧有機農業基金會</a></td>
                                    <td>
                                        <img class="img-responsive-sp" src="@Url.Content("~/Content/images//badge/badge09.jpg")">
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.ucscert.com.tw/" target="_blank">環球國際驗證股份有限公司</a></td>
                                    <td>
                                        <img class="img-responsive-sp" src="@Url.Content("~/Content/images//badge/badge10.jpg")">
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.eco-garden.com.tw/" target="_blank">采園生態驗證有限公司</a></td>
                                    <td>
                                        <img class="img-responsive-sp" src="@Url.Content("~/Content/images//badge/badge11.jpg")">
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.att.org.tw/home2/9895/" target="_blank">台灣茶協會</a></td>
                                    <td>
                                        <img class="img-responsive-sp" src="@Url.Content("~/Content/images//badge/badge12.jpg")">
                                        <img class="img-responsive-sp" src="@Url.Content("~/Content/images//badge/badge12-1.jpg")">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    <section class="ftracebook">
        <div class="container">
            <h2>政府「非追不可」食品追溯追蹤管理資訊系統</h2>
            <p>食安法第9條規定，要求以電子化或電子發票的方式進行食品業的追蹤追溯，政府雲端食品追蹤追溯系統的「非追不可」也已升級到GTP 3.0版</p>

            <h2>
                應建立食品追溯追蹤系統之食品業者</h3>
                <ul>
                    <li>食用油脂業者於103年10月31日起率先實施。</li>
                    <li>6大類食品業(肉、乳、水、餐盒、食品添加物、基因改造原料等)自104年</li>
                    <li>2月5日起應建立追溯追蹤制度。</li>
                    <li>7類大宗物資(黃豆、小麥、玉米、麵粉、澱粉、食鹽、糖)業者、2類茶類業者(茶葉、包裝茶葉飲料)及黃豆製品納入管理</li>
                </ul>
                <figcaption>
                    <img class="img-responsive-sp" src="@Url.Content("~/Content/images/about-tab2-img.png")">                   
                    <figure>食品追溯追蹤制度架構示意圖</figure>
                </figcaption>
        </div>
    </section>
    <section class="sec-bg gtb">
        <div class="container">
            <h2>什麼是「GTP」</h2>
            <p>食品產業良好追溯追蹤規範 （Good Traceability Practice, GTP）為因應國內推動食品追溯追蹤（Traceability）及建置食品雲而產生，提供食品業者規劃與導入食品追溯系統之參考，運用一致性資料交換標準，推動完善食品追溯系統。</p>

            <h3>「GTP」規範架構</h3>
            <p>GTP除了總則還有以下四個部分構成標準規範，相關意義說明如下： </p>
            <ul>
                <li>食品可追溯性資料交換標準：用以定義資料模型、資料交換與介接標準訊息。</li>
                <li>食品可追溯流程參考模式：用以提供業者追溯追蹤作業的參考流程、程序。</li>
                <li>食品追溯建置指引：用以提供業者建置追溯追蹤系統時的系統設計建議。</li>
                <li>食品追溯參考案例：彙整食品不同業態的實務追溯追蹤應用案例。</li>
            </ul>
            <h2>主食品雲推動目標 </h2>
            <p>現今台灣食安事件日益增多，透過GTP的食品可追溯性，協助業者強化食品安全自主控管能力，建立各項食品生產、加工、流通等食品安全追蹤追溯作業環境，也有助於提升產品揭露資訊之可靠度，提升食品安全性，保障民眾食的健康。</p>
            <figcaption>
                <img class="img-responsive-sp" src="@Url.Content("~/Content/images/about-tab4-img.png")">   
                <figure>食品追溯追蹤制度架構示意圖</figure>
            </figcaption>
        </div>
    </section>
</div>
